<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<div class="round-image round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></div>
<div class="round-image round-image-300"><%= image_tag(current_user.avatar.url(:medium)) %></div>
<div class="round-image round-image-100"><%= image_tag(current_user.avatar.url(:thumb)) %></div>
