.page-header
  = link_to purchases_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_purchase_path(@purchase), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show purchase

%dl.dl-horizontal
  %dt User:
  %dd= @purchase.user
  %dt Product:
  %dd= @purchase.product
  %dt Price:
  %dd= @purchase.price
