.page-header
  = link_to products_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  - if policy(@product).edit?
    = link_to edit_product_path(@product), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
  %h1 Product detail

.products_cont_detail
  .product_cont_detail
    .img_cont_detail
      = image_tag(@product.picture.url(:medium))
    .category_name_detail=@product.category.name
    %div= @product.title
    %div= @product.description
    %div 
      Stock: 
      #product_stock
        = @product.stock
    %div 
      Price:
      - if @discount_percent > 0
        = (@product.price - ((@product.price/100) * @discount_percent)).round 2
        %span.struck_off
          = @product.price
      - else
        %span
          = @product.price
    %div
      Added by:
      = link_to @product.user.name, @product.user
    %br
    .purchase_detail
      - if current_user and current_user == @product.user
        .alert.alert-warning Own product
      - if current_user and current_user != @product.user
        = render 'purchases/form_ajax'
