.page-header
  = link_to products_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_product_path(@product), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show product

%dl.dl-horizontal
  %dt Discount:
  %dd= @discount_percent
  %dt Picture
  %dd= image_tag(@product.picture.url(:medium)) 
  %dt Category:
  %dd= @product.category
  %dt User:
  %dd= @product.user
  %dt Title:
  %dd= @product.title
  %dt Description:
  %dd= @product.description
  %dt Stock:
  %dd= @product.stock
  %dt Price:
  %dd= @product.price
  %dt Status:
  %dd= @product.status
